{% block footer %}
    <footer class="footer">
        <div class="footer-left">
            <img alt='logo' src="{{ asset('img/logo.svg') }}">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <ul class="footer-right">
{#            <li>#}
{#                <h2>Product</h2>#}
{#                <ul class="box">#}
{#                    <li><a href="#">Prod</a></li>#}
{#                    <li><a href="#">Prod</a></li>#}
{#                    <li><a href="#">Prod</a></li>#}
{#                    <li><a href="#">Prod</a></li>#}
{#                </ul>#}
{#            </li>#}
            <li>
                <h2>Links</h2>
                <ul class="box">
                    <li><a href="#">Menu link</a></li>
                    <li><a href="#">Menu link</a></li>
{#                    <li><a href="#">Menu link</a></li>#}
{#                    <li><a href="#">Menu link</a></li>#}
                </ul>
            </li>
            <li>
                <h2>Address</h2>
                <ul class="box">
                    <li><a href="#">8941 Cleveland Lane Cerritos</a></li>
                    <li><a href="#">90703</a></li>
                    <li><a href="#">California</a></li>
                    <li><a href="#">United States of America</a></li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>All rights reserved by &copy; COVID19</p>
        </div>
    </footer>
{% endblock %}