{% block stylesheets %}

{% endblock %}
{% block body %}
<header>
    <img alt="logo" class="logo" src="{{ asset('img/logo.svg') }}">
    <nav>
        <ul class="nav__links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>

 {% endblock %}